/*
CSE 190 M, Spring 2009, Marty Stepp
Homework 4: NerdLuv
Stylesheet for HTML forms / basic PHP program
You should modify this stylesheet as necessary to reproduce the expected page.
*/
/* provided styles */

* {
    font-size: 12pt;
    font-family: "Verdana", "Geneva", sans-serif;
}
body {
    background-color: white;
    padding: 1em;
}
#bannerarea {
    margin-bottom: 2em;
}
div {
    margin-top: 0.5em;
}
.info {
    padding-left: 160px;
}
#main {
    overflow: hidden;
    width: 32em;
}
.match {
    margin-bottom: 3em;
}
.name {
    background-color: #E0E0FF;
    clear: left;
}
.name img {
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 3em;
    height: 180px;
}
#seeking {
    margin-top: 2em;
}
#w3c {
    clear: both;
}
#w3c img {
    border-width: 0px;
}
/* your additional styles go here */

form {
    background-color: #E0E0FF;
}
form > div {
    margin: 0.2em;
}
form > div > div, .info > div {
    margin-top: 0;
    width: 11em;
}
form > div *, .info > * {
    display: inline-block;
}
#bannerarea + div:not(#matches) {
    float: left;
    margin-left: 1em;
    margin-top: -1em;
    background-color: white;
}
form, #bannerarea + div:not(#matches) {
    padding: 0.5em;
    border: 2px outset gray;
}
input[type="submit"] {
    border: 2px outset gray;
    padding: 2px 10px;
    margin: 0.5em;
    background-color: #FFAAAA;
    font-weight: bold;
    font-size: 1.2em;
}
